/* all */
/* #login_wrap main */
#login_wrap main {
    max-width: 460px;
    margin: 0 auto;
}
#login_wrap main #loginFrm {}
#login_wrap main #loginFrm fieldset {}
/* 탭 제목 */
#login_wrap main #loginFrm fieldset .login_title {
    display: flex; 
}
#login_wrap main #loginFrm fieldset .login_title h2 {
    width: calc(100% / 3); text-align: center;
    background: #f8f9fa;
    border:1px solid #e3e3e3; border-radius: 0px;
    height: 59px; display: flex; justify-content: center; align-items: center;
    border-bottom-left-radius: 0; border-bottom-right-radius: 0; 
}
#login_wrap main #loginFrm fieldset .login_title h2:last-child {border-top-right-radius: 5px;}
#login_wrap main #loginFrm fieldset .login_title h2 a {
    width: 100%; line-height: 59px; position: relative;
}
/* 탭 제목 ----- 아이콘 */
#login_wrap main #loginFrm fieldset .login_title h2 a > span:first-child::before,
#login_wrap main #loginFrm fieldset .login_title h2 a > em:first-child::before {
    background-image: url(../images/m_sp_login.png);
    background-size: 251px 210px;
    background-position: -231px;
    content: ''; display: inline-block; width: 16px; height: 16px;
    margin-right: 5px;
    transform: translateY(2px);  /* 아이콘 살짝 아래로 내려서 맞춰줌 */ 
}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(1) > a > span::before {background-position-y: -194px;}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(2) > a > span::before {background-position-y: -63px;}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(3) > a > em::before {background-position-y: -119px;}
/* 탭 제목 QR코드 */
#login_wrap main #loginFrm fieldset .login_title h2 a > em {}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup {
    background: #fff; border:1px solid #03c75a; box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 12px; padding: 4px 10px; position: absolute; 
    left: 50%; transform: translate(-50%, -72px);
    display: flex; justify-content: space-between; align-items: center; 
    width: max-content; /* 가로크기 글자에 맞춰서 */ z-index: 300;
}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup em {
    color: #03c75a; font-size: 0.625rem; line-height: 14px;
}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup .close {
    color: #03c75a; font-size: 0.625rem; line-height: 14px;
}
/* 탭 내용 */
#login_wrap main #loginFrm fieldset .login_container {
    background-color: #fff;
    position: relative; top:-10.5px;
    border:1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 16px; padding: 25px 27px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}
/* 탭 내용 - id, 일회용, qr 공통 클래스*/
#login_wrap main #loginFrm fieldset .login_container .login_c {}
/* 탭 내용 - 개별 클래스*/
/* ID로그인 */
/* ID로그인 -----아이디, 비밀번호 입력 */
#login_wrap main #loginFrm fieldset .login_container .id_login {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input {
    border:1px solid #ccc; border-radius: 5px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex; flex-flow: column nowrap; background: #fff; 
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span {
    position: relative; padding-left: 15px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:nth-child(1) {
    border-bottom: 1px solid #ccc;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span::before {
    content: ''; display: inline-block;
    background-image:url(../images/m_sp_login.png);
    width: 15px; height: 16px;
    background-size: 251px 210px;
    position: absolute; z-index: 100; top: 15px; left: 14px;
    background-position-y: -190px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:nth-child(1)::before {
    background-position-x: -88px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:nth-child(2)::before {
    background-position-x: -122px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span input::placeholder {color:#aaa;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span input {
    padding: 15px 16px; padding-right: 0; padding-left: 20px; width: 85%;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input #userId {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input #userPw {}
/* ID로그인 -----로그인 상태유지 */
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state {
    display: flex; justify-content: space-between; align-items: center;
    padding: 10px 0;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state input[name*=state] {display: none;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state input[name*=state]:checked + label {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state input[name*=state]:checked + label::before {
    background-position-y: -156px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state label[for*=state]::before {
    content: ''; display: inline-block;
    background-image:url(../images/m_sp_login.png);
    width: 17px; height: 17px;
    background-size: 251px 210px;
    position: relative; z-index: 100; top: 0px; left: 0px;
    background-position: -230px -81px;
    transform: translateY(2px); margin-right: 3px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state label[for*=state] {}
/* ID로그인 -----IP보안 */
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state input[name*=state] {display: none;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] .txt {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] .switch_bg {
    background: #ccc; display: inline-block;
    width: 40px; height: 20px; border-radius: 25px;
    padding: 2px; /* 동그라미 위치 안맞아서 부모한테 패딩값 줘서 맞춘다 */
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] .switch_bg .switch {
    background: #fff; display: inline-block;
    width:16px; height: 16px; border-radius: 50%;
    transition: transform 0.3s ease; 
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state input[name*=state]:checked + label .switch {
    transform: translateX(20px);
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state input[name*=state]:checked + label .switch_bg {
    background: #03c75a;
    transition: 0.2s linear;
}
/* ID로그인 -----error message */
#login_wrap main #loginFrm fieldset .login_container .id_login .error_message {color:#f00; font-size: 0.8rem; padding: 10px 0;}
/* ID로그인 -----로그인 버튼 */
#login_wrap main #loginFrm fieldset .login_container .id_login .login_btn_wrap {}
#login_wrap main #loginFrm fieldset .login_container .id_login .login_btn_wrap #loginBtn {
    width:100%; background-color: #03c75a; color: #fff;
    border-radius: 5px; padding: 16px 0; margin-top: 20px;
    font-size: 1.25rem;
}
/* 일회용번호 */
#login_wrap main #loginFrm fieldset .login_container .disposable_login {padding-top: 20px;}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .tap2_coment {
    text-align: center; padding-bottom: 30px;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .tap2_coment p {
    font-weight: 300; line-height: 1.4; color:#333;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .tap2_coment p em {
    color: #03c75a; font-weight: 300;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .tap2_coment p em span {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .tap2_coment p em span[class*=icon] {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .tap2_coment p em span[class$=setting] {
    content: ''; display: inline-block;
    background-image:url(../images/m_sp_login.png);
    width: 17px; height: 17px;
    background-size: 251px 210px;
    position: relative; z-index: 100; top: 0px; left: 0px;
    background-position: -80px -161px;
    transform: translateY(4px); margin-right: 3px;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .tap2_coment p em span[class$=more] {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .tap2_coment a span[class$=icon_q] {
    content: ''; display: inline-block;
    background-image:url(../images/m_sp_login.png);
    width: 12px; height: 12px;
    background-size: 251px 210px;
    position: relative; z-index: 100; top: 0px; left: 0px;
    background-position: -186px -47px;
    color: #333;
}
/* 일회용번호 ----- 번호입력칸 */
#login_wrap main #loginFrm fieldset .login_container .disposable_login .input_area {
    border:1px solid #ccc; border-radius: 5px; box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    display: flex; flex-flow: column nowrap; background: #fff; 
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .input_area span {
    position: relative; padding-left: 10px;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .input_area span #input_num::placeholder {
    color:#aaa; text-align: center;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .input_area span #input_num {
    padding: 15px 16px; padding-right: 0; width: 90%; text-align: center;
}
/* 일회용번호 ----- 번호입력칸 , error 메세지 */
#login_wrap main #loginFrm fieldset .login_container .disposable_login .error_message {
    color:#f00; font-size: 0.8rem; padding-top: 10px;
}
/* 일회용번호 ----- 로그인 버튼 */
#login_wrap main #loginFrm fieldset .login_container .disposable_login .btn_area {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .btn_area .tap2_loginBtn {
    width:100%; background-color: #03c75a; color: #fff;
    border-radius: 5px; padding: 16px 0; margin-top: 10px;
    font-size: 1.25rem;
}
/* QR코드 */
#login_wrap main #loginFrm fieldset .login_container .qr_login {
    text-align: center;
    padding: 5px 0 15px;
}
/* QR코드 --------이미지, 남은시간 */
#login_wrap main #loginFrm fieldset .login_container .qr_login {}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_code {}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_code .left {}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_code .left img {width: 110px;}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_code .right {
    position: absolute; right: 120px; top: 80px;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_code .right p {}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qr_code .right p em {}
/* QR코드 --------내용 */
#login_wrap main #loginFrm fieldset .login_container .qr_comment {margin-top: 10px;}
#login_wrap main #loginFrm fieldset .login_container .qr_comment p {margin-bottom: 5px; line-height: 1.4;}
/* QR코드 --------서브내용, QR코드 번호입력, 도움말 */
#login_wrap main #loginFrm fieldset .login_container .sub_ment {}
#login_wrap main #loginFrm fieldset .login_container .sub_ment p {
    font-size: 0.75rem; color: #666; 
}
#login_wrap main #loginFrm fieldset .login_container .sub_ment p span {}
#login_wrap main #loginFrm fieldset .login_container .sub_ment p span[class*=icon] {}
#login_wrap main #loginFrm fieldset .login_container .sub_ment p span[class$=naver_app] {
    content: ''; display: inline-block;
    background-image:url(../images/m_sp_login.png);
    width: 12px; height: 12px;
    background-size: 251px 210px;
    position: relative; z-index: 100; top: 0px; left: 0px;
    background-position: -186px -59px;
    transform: translateY(1px);
    color: #333;
}
#login_wrap main #loginFrm fieldset .login_container .sub_ment p span[class$=lense] {
    content: ''; display: inline-block;
    background-image:url(../images/m_sp_login.png);
    width: 12px; height: 12px;
    background-size: 251px 210px;
    position: relative; z-index: 100; top: 0px; left: 0px;
    background-position: -186px -72px;
    transform: translateY(2px);
    color: #333;
}
#login_wrap main #loginFrm fieldset .login_container .sub_ment p span[class$=icon_q] {
    content: ''; display: inline-block;
    background-image:url(../images/m_sp_login.png);
    width: 12px; height: 12px;
    background-size: 251px 210px;
    position: relative; z-index: 100; top: 0px; left: 0px;
    background-position: -186px -47px;
    transform: translateY(2px);
    color: #333;
}
#login_wrap main #loginFrm fieldset .login_container .sub_ment p em {}
#login_wrap main #loginFrm fieldset .login_container .sub_ment p .qr_num {
    background:#111; width: 24px; height: 15px; 
    content: ''; display: inline-block; border-radius: 30px;
    position: relative; top:3px;
}
/* QR코드 --------만료 페이지, error 메세지 */
#login_wrap main #loginFrm fieldset .login_container .qr_error_comment {display: none !important;}
#login_wrap main #loginFrm fieldset .login_container .qr_error_comment .error_img {}
#login_wrap main #loginFrm fieldset .login_container .qr_error_comment .error_img span {}
#login_wrap main #loginFrm fieldset .login_container .qr_error_comment .qr_error_comment {}
#login_wrap main #loginFrm fieldset .login_container .qr_error_comment .qr_error_comment p {}
#login_wrap main #loginFrm fieldset .login_container .qr_error_comment .return {display: none ;}
#login_wrap main #loginFrm fieldset .login_container .qr_error_comment .return a {}
#login_wrap main #loginFrm fieldset .login_container .qr_error_comment .return a span {}
#login_wrap main #loginFrm fieldset .login_container .qr_error_comment .return a .icon_re {}
#login_wrap main #loginFrm fieldset .login_container .qr_error_comment .return a span em {}
/* 찾기 ~ 광고 */
#login_wrap main .search {
    display: flex; justify-content: center;
    padding-bottom: 30px; 
}
#login_wrap main .search a::after {
    content: ''; display: inline-block;
    width: 1px; height: 10px;
    background: #aaa; margin-left: 10px;
}
#login_wrap main .search a:last-child::after {display: none;}
#login_wrap main .search a {margin-right: 10px; color:#777;}
#login_wrap main .advertising {}
#login_wrap main .advertising a {}
#login_wrap main .advertising a img {width: 100%;}